{% extends "layout.html" %} 
{% block extrahead %} 
    <meta property="site_name" content=" God Tier Archive Website">
    <meta property="url" content="https://domain.com">
    <meta property="title" content="Name of your page">
    <meta property="description" content="A little description of this page">
    <meta property="type" content="website">
    <meta name="theme-color" content="#e8f4ff">
    <!-- <meta name="og:image" itemprop="image" content="path/to/image.png"> -->
{% endblock %} 

