{% extends "!layout.html" %} 
{% block extrahead %} 
    <meta property="og:site_name" content="Name of your website">
    <meta property="og:url" content="https://domain.com">
    <meta property="og:title" content="Name of your page">
    <meta property="og:description" content="A little description of this page">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#e8f4ff">
    <!-- <meta name="og:image" itemprop="image" content="path/to/image.png"> -->
{% endblock %} 

